.container {
    margin-top: 30px;

}

.background {
    background: linear-gradient(90deg, #FC466B 0%, #737eb3 100%);
}

.registration-form {
    width: 800px;
    margin: 10px auto;
}

.title {
    text-align: center;
}

.submit-btn {
    text-align: center;
}

.valid-feedback {
    display: block;
}

.invalid-feedback {
    display: block;
}