 .container {
     margin-top: 30px;
     background: linear-gradient(90deg, #e0c7cc 0%, #aab2db 100%);
 }

 .registration-form {
     width: 800px;
     margin: 10px auto;
 }

 .title {
     text-align: center;
 }

 .submit-btn {
     text-align: center;
 }

 .invalid-feedback {

     font-size: medium;
 }

 @media (max-width:470px) {
     #submit-form {
         margin-left: -380px;
     }
 }